
body{
    background-color: lightcoral;
}
body h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
 }

body div{
    text-align: center;
   
}

body  ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


